

<!--
// v0 by Vercel.
// https://v0.dev/t/NIRDwHehTlM
-->

<div
  class="pb-4 px-6 md:px-16 w-full text-card-foreground flex items-center justify-between rounded-lg bg-white dark:bg-darkBackground"
  data-v0-t="card"
>
  <div class="flex items-center gap-3">
    <a href="/profile">
      <span class="relative flex shrink-0 overflow-hidden rounded-full h-14 w-14 border-[2px] border-indigo-500">
        <img class="object-cover h-full w-full" src="assets/avatar.jpg" alt="avatar" />
      </span>
    </a>

    <div class="grid gap-1">
      <div class="text-sm font-medium">Meftah Ahmed Reda</div>
      <div class="text-sm text-gray-500 dark:text-gray-400">meftahahmedreda02@gmail.com</div>
    </div>
  </div>
  <div class="flex items-center gap-8">
    <a
      class="flex flex-row items-center justify-center gap-2 w-full text-md text-gray-700 dark:text-gray-500 dark:hover:text-gray-200 hover:text-indigo-600 duration-200 py-2"
      href="#"
      rel="ugc"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line x1="21" x2="9" y1="12" y2="12"></line>
      </svg>
      <span class="hidden md:block">Logout</span>
    </a>
  </div>
</div>
