<footer class="text-darkText dark:text-lightText bg-lightBackground dark:bg-darkBackground body-font px-32">
  <div class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col gap-4">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl text-lightText dark:text-darkText">iRentCar</span>
    </a>
    <p class="flex items-center gap-2 text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-2"><i class='bx bx-copyright text-lg mt-1' ></i> {{currentYear}} Meftah
      <a href="https://github.com/itserror808" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">itserror808</a>
    </p>
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href="mailto:meftahahmedreda02@gmail.com" class="text-gray-400 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 transition-colors duration-300">
        <i class='bx bxl-gmail text-xl'></i>
      </a>
      <a href="https://github.com/itserror808" class="ml-3 text-gray-400 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 transition-colors duration-300">
        <i class='bx bxl-github text-xl' ></i>
      </a>
      <a href="https://www.linkedin.com/in/ahmed-reda-meftah-015641281/" class="ml-3 text-gray-400 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 transition-colors duration-300">
        <i class='bx bxl-linkedin text-xl' ></i>
      </a>
    </span>
  </div>
</footer>
